name: Test Game run
on:
  pull_request:
    branches:
      - main
jobs:
  build-and-run:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install build tools (windows)
        shell: cmd
        run: choco install -y make mingw
      - name: Build the project
        run: make build
